@charset "UTF-8";

/* body {
    background-color: #e0e0e0; 더 진한 회색
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
} */

.container{
   font-family: Arial, Helvetica, sans-serif;
   width: 70%;
   max-width: 1400px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 20px;
   box-sizing: border-box; /* 패딩 포함하여 전체 너비 계산 */
}

.contentWarpASK {
    /* display: flex;*/
    /* height: 100vh; */  /* footer랑 차이 벌려놓던거 */
    padding: 0;
    margin: 0;
    width: 100%;
}

.LP {
    margin: 0;
    display: flex;
}

/* .LPWrap {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
    border-right: 1px solid #dee2e6;
    top: 0;
    width: 200px;
}

.LPWrap h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #343a40;
}

.LPWrap ul {
    list-style-type: none;
    padding: 0;
}

.LPWrap ul li {
    margin-bottom: 10px;
}

.LPWrap ul li a {
    text-decoration: none;
    color: rgb(83, 169, 255);
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.LPWrap ul li a:hover {
    background-color: #e9ecef;
}

.LPWrap .LPC01 {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
} */

/* [메인 내용] 시작 */

.main-content {
	width: 100%;
   /*  flex: 1; */
    padding: 20px;
    /* border: 1px solid #dee2e6; */
}

h3 {
    color: rgb(83, 169, 255);
    font-size: 22px;
    margin-top: 27px;
    margin-bottom: 26px;
    
}

/*
.h3_title{
	padding-top: 17px;
    margin-bottom: 10px !important;
}
*/

/* Exchange 관련 */
.form-group-exchange {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-group-exchange select,
.form-group-exchange input,
.form-group-exchange button {
    padding: 10px;
    font-size: 14px;
}

.input-group-exchange input {
    width: 147px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
}

.input-group-exchange input:focus {
    border-color: rgb(83, 169, 255);
    outline: none;
    box-shadow: 0 0 5px rgb(83, 169, 255);
}

.input-group-exchange button {
    background-color: rgb(83, 169, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.input-group-exchange button:hover {
    background-color: #0056b3;
    color: white;
}

/* Account 관련 */
.form-group-account {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-group-account select,
.form-group-account input,
.form-group-account button {
    padding: 10px;
    font-size: 14px;
}

.form-group-account select {
    width: 255px;
    /* text-align: center; */
}

.form-group-account label {
    padding: 10px;
    width: 130px;
}

/* Search 관련 */
.form-group-search {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-group-search input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    width: 235px;
}

.form-group-search input:focus {
    border-color: rgb(83, 169, 255);
    outline: none;
    box-shadow: 0 0 5px rgb(83, 169, 255);
}

.form-group-search button {
    background-color: rgb(83, 169, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.form-group-search button:hover {
    background-color: #0056b3;
    color: white;
}

/* Branch 관련 */
.form-group-branch {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-group-branch select,
.form-group-branch input,
.form-group-branch button {
    padding: 10px;
    font-size: 14px;
}

.form-group-branch select{
	width: 258px;
}

/* Date 관련 */
.form-group-date {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-group-date input {
    padding: 10px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #dddddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.text-right {
    text-align: right;
}

.btn-primary {
    background-color: rgb(83, 169, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.btn-secondary {
    background-color: rgb(83, 169, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-secondary:hover {
   background-color: #0056b3;
    color: white;
}

label,
th {
    color: #333;
}

input.form-control,
select.form-control,
textarea.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    width: 237px;
}

#trade_money_input{
	width:151px;
	text-align: right;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color: rgb(83, 169, 255);
    outline: none;
    box-shadow: 0 0 5px rgb(83, 169, 255);
}

#exchangeTable {
    width: 100%;
    border: none;
}

#exchangeTable th,
#exchangeTable td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#exchangeTable th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tbody{
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#createExchangeBean {
    width: 80%;
}

.form-group-exchange label,
.form-group-account label,
.form-group-search label,
.form-group-branch label,
.form-group-date label {
    padding: 10px;
    width: 130px;
}